:root {
  --title-font: 'Otomanopee One', sans-serif;
}
* {
  box-sizing: border-box;
}
html, body, #content {
  height: 100%;
}
html {
  font-family: 'Playfair Display', serif;
  background-color: rgb(16, 18, 19);
}
body {
  max-width: 1600px;
  margin: 0 auto;
  color: white;
}
#content {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  transition: 0.5s ease-in;
}
.opacity {
  opacity: 0;
}
.background {
  background-image: url("./trattoria_1920-1280.jpg");
  background-size: cover;
  background-position: center;
  height: calc(var(--vh, 1vh) * 100);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  color: white;
}
#heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 3;
  position: relative;
  background-color: rgb(16, 18, 19);
}
header h1 {
  font-family: var(--title-font);
  font-style: italic;
  margin: 0;  
}
#nav-toggler {
  display: block;
  background: rgb(16, 18, 19);
  color: white;
  border: rgb(16, 18, 19);
  cursor: pointer;
}
#nav-toggler i {
  transition: 0.3s cubic-bezier(0.5, 0.3, 0.75, 0.5);
}
.scale-btn {
  transform: scaleY(0);
}
.fa-times {
  padding: 0 1px 0 4px;
}
#links-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 18, 19);
  transition: 0.4s cubic-bezier(0.5, 0.3, 0.75, 0.5);
  z-index: 2;
  position: relative;
  padding: 1.5rem 0;
  transform: translateY(-300px);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav>ul {
  display: flex;
  flex-direction: column;
}
nav li a {
  display: block;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  color: white;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
#social-links {
  margin: 1rem 0 0.7rem;
}
#social-links li {
  display: inline;
}
#social-links a {
  display: inline;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: white;
}
.fa-lg {
  vertical-align: baseline;
}
.show-nav {
  transform: translateY(0)!important;
}
#vh-wrapper {
  height: 100vh;
  height: calc(100vh - var(--offset));
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#vh-wrapper > h2 {
  font-size: 1.8rem;
  margin: 0;
}
figure {
  margin: 2rem 0 0;
  background-color:rgb(24, 26, 28);
}
blockquote {
  margin: 0 1rem;
}
figcaption {
  padding: 1rem 0;
}
footer {
  padding: 1rem 3px;
  background-color:rgb(24, 26, 28);
  font-style: italic;
}

@media (min-width: 760px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 18, 19);
    padding: 0 1.5rem 0 3rem;
  }
  #links-wrapper {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0 0;
    transform: translateY(0);
    opacity: 1;
  }
  nav > ul {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
  }
  li > a:hover {
    color: grey!important;
  }
  #nav-toggler {
    display: none;
  }
  #heading-wrapper {
    padding: 1rem 0;
  }
  .background {
    height: 100vh;
  }
  #vh-wrapper > h2 {
    font-size: 3.5rem;
    margin: 1rem;
  }
}

/* Menu page styling */
main.background {
  height: auto;
}
.tab {
  max-width: 800px;
  margin: 0 auto;
}
img {
  display: block;
  margin: 0 auto 1rem;
  max-width: 100%;
}
.tab h2 {
  padding-top: var(--offset-header, 70px);
  text-align: center;
}
.tab section {
  padding: 0.5rem;
}
h3 {
  letter-spacing: 0.08em;
  color: red;
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  margin: 0;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  border-bottom: 1px solid white;;
}
.price {
  margin-left: 2rem;
}
.menu-item:last-child {
  border-bottom: none;
}
.menu-item p:first-child {
  padding-left: 0.5rem;
}
.menu-item p:last-child {
  padding: 0 0.5rem;
  border-bottom: none;
}

/* Contact page styling */
#contact {
  height: 100%;
  background-color:rgba(16, 18, 19, 0.89);
}
#contact article {
  padding: 0.5rem;
}
#contact h2 {
  padding-top: var(--offset-header, 70px);
  text-align: center;
}
#contact p {
  font-size: 1.2rem;
  text-align: center;
}
button#reservation {
  display: block;
  cursor: pointer;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}
.flex-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 760px) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flex-container {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .flex-container article {
    width: 330px;
    margin: 1.5rem 1.5rem 0;
  }
}